@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-night-sky: #132940;
    --color-moonlight: #142036;
    --color-emerald-fizz: #2ecc71;
    --color-dark-emerald: #145a32;
    --color-pink-blast: #ff4f81;
    --color-dark-pink: #8b0032;
    --color-sky-mint: #48c9b0;
    --color-dark-mint: #145c52;
    --color-laser-lemon: #fff44f;
    --color-orange-sherbert: #ffb347;
    --color-dark-lemon: #665c00;
    --color-cloud-white: #f5f5f5;
    --color-dark-gray: #333333;
    --color-strong: #ffffff;
    --color-cream: #fdf6e3;
    --color-slate: #708090;
    --color-muted: #a0a0a0;
    --color-berry-blast: #2897e0;
    --color-musty-mangrove: #104859;
    --color-charcoal: #111113;
    --color-charcoal-light: #aeaeae;

    --font-poppins: "Poppins", sans-serif;
    --font-merriweather: "Merriweather", serif;
  }

  html {
    font-family: var(--font-poppins);
    background-color: var(--color-charcoal);
    color: var(--color-cloud-white);

    font-size: 90%;
  }

  body {
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.8);
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      rgba(255,255,255,0.15),
      rgba(255,255,255,0.35)
    );
    border-radius: 6px;
    border: 2px solid rgba(0,0,0,0.8);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      rgba(255,255,255,0.3),
      rgba(255,255,255,0.5)
    );
  }
}

@layer utilities {

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .sticky-bottom {
    position: sticky;
    bottom: 30px;
    cursor: pointer;
  }

  .font-poppins {
    font-family: var(--font-poppins);
  }

  .font-merriweather {
    font-family: var(--font-merriweather);
  }
}

@layer components {

  .footer-link {
    position: relative;
    color: var(--color-charcoal-light);
    transition: color 0.3s ease;
  }

  .footer-link:hover {
    color: var(--color-cloud-white);
  }

  .footer-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    transition: width 0.3s ease;
  }

  .footer-link:hover::after {
    width: 100%;
  }

  .underline-emerald::after {
    background: var(--color-emerald-fizz);
  }

  .underline-pink::after {
    background: var(--color-pink-blast);
  }

  .underline-blue::after {
    background: var(--color-berry-blast);
  }

  .underline-mint::after {
    background: var(--color-sky-mint);
  }
}